{% extends '/admin/admin.main.twig'%}
{% block title %} Makale Ekle {% endblock %}
{% block projectName %} Makale Ekle{% endblock %}

{% block body %}
    <div class="col-md-6">

        {{ form_start(form) }}


        {{ form_end(form) }}

    </div>



{% endblock %}
